header{
    width: 100%;
    height: 130px;
    display: flex;
    background-color: lightskyblue;
}

#menu ul{
    list-style: none;
    margin: auto;
    padding: 0%;
    width: 70%;
    max-width: 1000px;
    background-color: lightslategray;
}

#menu ul li{
    display: inline-block;
    text-align: center;
}

#menu ul li a{
    text-decoration: none;
    color: lightyellow;
    padding: 20px;
    font-size: 25px;
    display: block;
}

#menu ul li a:hover{
    background-color: limegreen;
}

.logo{
    width: 10%;
    height: 130px;
}
/*
.home{
    width: 15%;
    height: auto;
}*/