header{
    max-height: 120px;
    justify-content: center;
    background-color: lightgray;
}

#menu-desplegable ul{
    width: 70%;
    height: 120px;
    display: flex;
    margin: auto;
    padding: 0%;
    justify-content: center;
}

#menu-desplegable ul li{
    list-style: none;
    padding: 20px;
    /*background-color: orange;*/
}

#menu-desplegable ul li p{
    font-size: 25px;
    display: block;
    /*background-color: silver;*/
}

#menu-desplegable ul li:hover{
    background-color: orange;
}

#menu-desplegable ul li ul {
    padding: 5px;
    display: none;
    /*text-align: center;*/
    /*position: fixed;*/
}

#menu-desplegable ul li:hover ul{
    display: block;
    padding: 5px;
}

main{
    background-color: lightyellow;
}

footer{
    background-color: oldlace;
}