main{
    width: 100%;
    height: 489px;
    display: flex;
}

/*---------------------Sección Lateral------------------------*/
.menu-lateral-izq{
    width: 13%;
    height: auto;
    border-top: solid;
    border-right: solid;
    border-bottom: solid;
}

.menu-lateral-izq-nav{
    width: 100%;
    height: 100%;
}

.lista-nav{
    width: 100%;
    height: 100%;
}

.lista-nav > .elemento-li{
    width: 100%;
    height: 25%;
    text-align: center;
}

.contenedor-elemento{
    width: 100%;
    height: 100%;
    font-size: 30px;
}

.contenedor-elemento > p{
    padding: 10% 0% 0% 0%;
}

a{
    text-decoration: none;
    color: black;
}

/*---------------------Sección de Usuario------------------------*/
.area-usu{
    width: 87%;
    height: auto;
    display: flex;
    /*background-color: lightcoral;*/
}

/*---------------------Sección 1------------------------*/
.contenedor-1-area-usu{
    width: 50%;
    height: 100%;
    /*border-right: solid;*/
    /*background-color: khaki;*/
}

.dim-img{
    width: 120px;
    height: 120px;
    margin: 5% 0% 0% 40%;
}

.separador{
    width: 3px;
    height: 95%;
    background-color: black;
}

.sub-contenedor{
    width: 90%;
    height: 65%;
    margin: auto;
    overflow-y: scroll;
    font-size: 20px;
}
/*Aplica para Chrome, Safari y Opera:*/
.sub-contenedor::-webkit-scrollbar { 
    display: none;
}

/*Aplica para I.E., Edge y Firefox:*/
.sub-contenedor{
    -ms-overflow-style: none;  /*IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/*---------------------Sección 2------------------------*/
.contenedor-2-area-usu{
    width: 50%;
    height: 100%;
   /* border-left: solid;*/
    /*background-color: orange;*/
}