main{
    width: 100%;
    height: 489px;
    display: flex;
}

/*---------------------Sección 1------------------------*/
.menu-lateral-izq{
    width: 13%;
    height: auto;
    border-top: solid;
    border-right: solid;
    border-bottom: solid;
}

.menu-lateral-izq-nav{
    width: 100%;
    height: 100%;
}

.lista-nav{
    width: 100%;
    height: 100%;
}

.lista-nav > .elemento-li{
    width: 100%;
    height: 25%;
    text-align: center;
}

.contenedor-elemento{
    width: 100%;
    height: 100%;
    font-size: 30px;
}

.contenedor-elemento > p{
    padding: 10% 0% 0% 0%;
}

a{
    text-decoration: none;
    color: black;
}

/*---------------------Sección 2------------------------*/
.area-usu{
    width: 87%;
    height: auto;
    position: relative;
    /*background-color: lightcoral;*/
}

.contenedor-1-area-usu{
    width: 12%;
    height: 33%;
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    margin: auto;
    /*background-color: lightseagreen;*/
}

.img-perfil{
    width: 150px;
    height: auto;
    margin-top: 1%;
}

.contenedor-2-area-usu{
    width: 35%;
    height: 35%;
    position: absolute;
    left: 3%;
    bottom: 3%;
    text-align: center;
}

.contenedor-3-area-usu{
    width: 35%;
    height: 33%;
    position: absolute;
    right: 3%;
    bottom: 3%;
    text-align: center;
}

.contenedor-4-area-usu{
    width: 35%;
    height: 35%;
    position: absolute;
    top: 3%;
    right: 3%;
    text-align: center;
}

.contenedor-5-area-usu{
    width: 35%;
    height: 35%;
    position: absolute;
    top: 3%;
    left: 3%;
    text-align: center;
}

.eti-temas{
    font-size: 30px;
}

.sub-contenedor-descrip{
    width: 100%;
    height: 80%;
    font-size: 20px;
    overflow-y: scroll;
}
/*Aplica para Chrome, Safari y Opera:*/
.sub-contenedor-descrip::-webkit-scrollbar { 
    display: none;
}

/*Aplica para I.E., Edge y Firefox:*/
.sub-contenedor-descrip{
    -ms-overflow-style: none;  /*IE and Edge */
    scrollbar-width: none;  /* Firefox */
}