main{
    width: 100%;
    height: 489px;
    display: flex;
}

/*---------------------Sección 1------------------------*/
.menu-lateral-izq{
    width: 13%;
    height: auto;
    border-top: solid;
    border-right: solid;
    border-bottom: solid;
}

.menu-lateral-izq-nav{
    width: 100%;
    height: 100%;
}

.lista-nav{
    width: 100%;
    height: 100%;
}

.lista-nav > .elemento-li{
    width: 100%;
    height: 25%;
    text-align: center;
}

.contenedor-elemento{
    width: 100%;
    height: 100%;
    font-size: 30px;
}

.contenedor-elemento > p{
    padding: 10% 0% 0% 0%;
}

a{
    text-decoration: none;
    color: black;
}

/*---------------------Sección 2------------------------*/
.area-usu{
    width: 87%;
    height: auto;
    /*background-color: lightcoral;*/
}

.contenedor-1-img{
    width: 100%;
    height: 35%;
    text-align: center;
    /*background-color: lightseagreen;*/
}

.img-perfil{
    width: 150px;
    height: auto;
    margin-top: 1%;
}

.contenedor-2-desc{
    width: 100%;
    height: 65%;
}

.scroll-oculto{
    height: 250px;
    padding: 3% 5% 0% 15%;
    font-size: 40px;
    overflow-y: scroll;
    /*scrollbar-width: none;*/ /*Aquí también funciona, pero por buena practicalo utilizo mas abajo*/
}
/*Aplica para Chrome, Safari y Opera:*/
.scroll-oculto::-webkit-scrollbar { 
    display: none;
}

/*Aplica para I.E., Edge y Firefox:*/
.scroll-oculto{
    -ms-overflow-style: none;  /*IE and Edge */
    scrollbar-width: none;  /* Firefox */
}