main{
    width: 100%;
    height: 489px;
    display: flex;
}

/*---------------------Sección Lateral------------------------*/
.menu-lateral-izq{
    width: 13%;
    height: auto;
    border-top: solid;
    border-right: solid;
    border-bottom: solid;
}

.menu-lateral-izq-nav{
    width: 100%;
    height: 100%;
}

.lista-nav{
    width: 100%;
    height: 100%;
}

.lista-nav > .elemento-li{
    width: 100%;
    height: 25%;
    text-align: center;
}

.contenedor-elemento{
    width: 100%;
    height: 100%;
    font-size: 30px;
}

.contenedor-elemento > p{
    padding: 10% 0% 0% 0%;
}

a{
    text-decoration: none;
    color: black;
}

/*---------------------Sección de Usuario------------------------*/
.area-usu{
    width: 87%;
    height: auto;
    display: flex;
    /*background-color: lightcoral;*/
}

.seccion-ancla-izq{
    width: 10%;
    height: 100%;
    /*background-color: orange;*/
}

.seccion-frases{
    width: 80%;
    height: 100%;
    overflow: scroll;
}

.contenedor{
    width: 200%;
    height: 100%;
}

.sub-contenedor-1, .sub-contenedor-2{
    width: 50%;
    height: 100%;
    float: left;
    border: 3px solid;
}

.img-preferida{
    margin: 2% 0% 0% 35%;
    width: 250px;
    height: auto;
}

/*.sub-contenedor-1{
    background-color: steelblue;
}

.sub-contenedor-2{
    background-color: teal;
}*/

.titulo-frase{
    margin: 1% 25% 0% 25%;
    font-size: 60px;
    text-align: center;
}

.p-frases{
    margin: 1% 7% 0% 7%;
    max-width: 100%;
    font-size: 30px;
    text-align: justify;
}

.seccion-ancla-der{
    width: 10%;
    height: 100%;
    /*background-color: orange;*/
}

.ancla{
    width: 100%;
    height: 50%;
    margin: 95% 0% 0% 0%;
}
/*Aplica para Chrome, Safari y Opera:*/
.seccion-frases::-webkit-scrollbar { 
    display: none;
}

/*Aplica para I.E., Edge y Firefox:*/
.seccion-frases{
    -ms-overflow-style: none;  /*IE and Edge */
    scrollbar-width: none;  /* Firefox */
}